@media(max-width: 576px){
    .stay-con-main{
        padding-left: 30px !important;
    }
}
@media(max-width: 768px){
    .sliderimg{
        padding-top: 40px;
    }
}
@media(max-width: 992px){

}
@media(max-width: 1200px){

}